#journal-container {
    position: absolute;
    left: 20%;
    margin-top: 75px;
    width: 63%;
    height:82%;
}

body {
    font-family: 'Poppins',sans-serif;
}

#logout-button {
    font-family: 'Poppins',sans-serif;
    position: absolute;
    top:0px;
    right:0px;
    margin-top: 20px;
    margin-right: 20px;
}

#sidebar {
    position:absolute;
    height:80%;
    width:15%;
    margin-top: 75px;
}


#title-container {

    position: absolute;
    left: 20%;
    width:63%;
    height:8%;
}

#title {
    font-family: 'Poppins',sans-serif;
    outline:none;
    border:none;
    font-size: 40px;
    width:99%;
    height: 100%;
}   

#currentUser {  
    font-size: 20px;
}

#date-container {
    position: absolute;
    right:3%;
    margin-top: 75px;
}


#header {
    height:50px;
    width:100%;
    font-size: 40px;
    text-align: center;
}

#journals {
    position:absolute;
    width:100%;
    margin-top:12%;
}

#bar {
    position: absolute;
    top:55px;
    width:75%;
    right:11%;
    height:5px;
    border: thick solid black;
}

.hover {
    color:#FF00FF;
}

textarea {
    font-family: 'Poppins',sans-serif;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 100%;
    height:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    padding-left:110px;
    outline: none;
}

textarea:focus {
    outline:none;
}
