#journal-container {
    position: absolute;
    left: 20%;
    margin-top: 75px;
    width: 63%;
    height:85%;
}


#sidebar {
    position:absolute;
    height:85%;
    width:15%;

    border: thin solid green;
}


#title-container {

    position: absolute;
    left: 20%;
    width:63%;
    height:8%;
}

#title {
    outline:none;
    border:none;
    font-size: 40px;
    width:99%;
    height: 100%;
}   

#date-container {
    position: absolute;
    right:5%;
    margin-top: 75px;
    border: thick solid red;
}


#header {
    height:50px;
    width:100%;
    font-size: 40px;
    text-align: center;
    border: thick solid red;
}



textarea {
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 100%;
    height:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    padding-left:110px;
}

textarea:focus {
    outline:none;
}
