<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/journalstyle.css') }}">
        <script src="{{ url_for('static', filename='js/journaljs.js') }}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body onload="initText()">
        <button type="button" onclick="bold()">Bold</button>
        <div id="journal-container">
            <textarea id="journal-main" ></textarea>
        


        </div>
    </body>
</html>