<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/journalstyle.css') }}">
        <script src="{{ url_for('static', filename='js/journaljs.js') }}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body onload="initText()">
        <div id="sidebar">
              <div id="header">
                Journals
              </div>


        </div>
        <div id="title-container">
            <input type="text" placeholder="Untitled Journal" id="title">
        </div>
        <div id="journal-container">
            <textarea style="resize: none;" id="journal-main" ></textarea>
        </div>

        <div id="date-container">

            <input type="date">
        </div>
    </body>
</html>